/* ==========================================================================
Styles
========================================================================== */

body {
  @include background-image(linear-gradient(bottom, tint($black, 20%) 0%, tint($black, 10%) 100%));
}

nav {
  @include clearfix;
  height: 60px;
  padding: 0 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  a.reveal-contents {
    @include bootstrap-button($gray, $white);
    display: block;
    float: right;
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
    padding: 2px 10px;

    span {
      background: url('../images/toc-icon.png') no-repeat center center;
      display: block;
      height: 36px;
      text-indent: -9999px;
      width: 40px;
    }
  }

  h1 {
    color: $white;
    float: left;
    line-height: 60px;
  }
}

section.toc-no-js {
  border-bottom: 1px solid $grayLight;
  padding-bottom: $lineHeight/2;
  margin-bottom: $lineHeight;

  a {
    color: $blueDark;
  }
  a:hover {
    color: darken($blueDark, 15%);
  }
  ul {
    list-style-type: none;
    margin-left: 0;
  }
  li {
    height: 30px;
    line-height: 30px;
  }
}

section.toc-js {
  background: $white;
  border: 1px solid $black;
  @include border-radius(4px);
  @include box-shadow(0 3px 6px rgba($black, 0.5));
  display: none;
  padding: 16px 60px 10px 20px;
  position: absolute;
  top: 65px;
  right: 26px;
  z-index: 500;

  &::after {
    content: "";
    background: $white;
    border-left: 1px solid $black;
    border-top: 1px solid $black;
    display: block;
    height: 16px;
    right: 16px;
    position: absolute;
    top: -9px;
    @include transform(rotate(45deg));
    @include transform-origin(center center);
    width: 16px;
  }

  a {
    color: $blueDark;
  }
  a:hover {
    color: darken($blueDark, 15%);
  }
  ul {
    list-style-type: none;
    margin-left: 0;
  }

  li {
    height: 48px;
    line-height: 48px;
  }
}

div.container {
  background: $white;
  @include border-radius(4px);
  @include box-shadow(0 3px 6px rgba($black, 0.5));
  height: 750px; // fix with percentage later
  margin: 60px 20px 20px 20px;
  overflow-y: scroll;
  padding: 20px;
  position: relative;

  &::-webkit-scrollbar {
    visibility: hidden;
  }
}
