/* ==========================================================================
Typography adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */

body {
  font-family: $textFontFamily;
}

p {
  margin: 0 0 $lineHeight / 2;
  font-size: $baseFontSize;
  line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: $baseColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1 {
  font-size: 30px;
  line-height: $lineHeight * 2;
}
h2 {
  font-size: 24px;
  line-height: $lineHeight * 2;
}
h3 {
  line-height: $lineHeight * 1.5;
  font-size: 18px;
}
h4, h5, h6 {
  line-height: $lineHeight;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: lighten($baseColor, 10%);
  text-transform: uppercase;
}

ul, ol {
  padding: 0;
  margin: 0 0 $lineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: $lineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin-bottom: $lineHeight;
}
dt,
dd {
  line-height: $lineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $lineHeight / 2;
}

hr {
  margin: $lineHeight 0;
  border: 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $white;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

abbr {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $lineHeight;
  border-left: 5px solid $grayLighter;
  p {
    margin-bottom: 0;
  }
  small {
    display: block;
    line-height: $lineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }
}
