/* ==========================================================================
Reset adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Typography adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin: 0 0 26px 0;
  font-size: 16px;
  line-height: 26px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 30px;
  line-height: 52px; }

h2 {
  font-size: 24px;
  line-height: 52px; }

h3 {
  line-height: 39px;
  font-size: 18px; }

h4, h5, h6 {
  line-height: 26px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #1a1a1a;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 13px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 26px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 26px; }

dt,
dd {
  line-height: 26px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 13px; }

hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid #555555;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 26px;
  border-left: 5px solid #eeeeee; }
  blockquote p {
    margin-bottom: 0; }
  blockquote small {
    display: block;
    line-height: 26px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }

/* ==========================================================================
Styles
========================================================================== */
body {
  background-image: -webkit-linear-gradient(bottom, #333333 0%, #191919 100%);
  background-image: -moz-linear-gradient(bottom, #333333 0%, #191919 100%);
  background-image: -ms-linear-gradient(bottom, #333333 0%, #191919 100%);
  background-image: -o-linear-gradient(bottom, #333333 0%, #191919 100%);
  background-image: linear-gradient(bottom, #333333 0%, #191919 100%); }

nav {
  zoom: 1;
  height: 60px;
  padding: 0 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; }
  nav:before, nav:after {
    content: "";
    display: table; }
  nav:after {
    clear: both; }
  nav a.reveal-contents {
    background-color: #555555;
    background-image: -webkit-linear-gradient(top, #7b7b7b 0%, #555555 100%);
    background-image: -moz-linear-gradient(top, #7b7b7b 0%, #555555 100%);
    background-image: -ms-linear-gradient(top, #7b7b7b 0%, #555555 100%);
    background-image: -o-linear-gradient(top, #7b7b7b 0%, #555555 100%);
    background-image: linear-gradient(top, #7b7b7b 0%, #555555 100%);
    background-repeat: repeat-x;
    border: 1px solid #555555;
    border-bottom-color: #484848;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #151515;
    -webkit-transition-property: background-position, 0.1s, linear;
    -moz-transition-property: background-position, 0.1s, linear;
    -ms-transition-property: background-position, 0.1s, linear;
    -o-transition-property: background-position, 0.1s, linear;
    transition-property: background-position, 0.1s, linear;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -ms-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    vertical-align: middle;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
    padding: 2px 10px; }
    nav a.reveal-contents:hover {
      background-color: #555555;
      background-position: 0 -15px;
      color: white;
      text-decoration: none; }
    nav a.reveal-contents:active {
      background-color: #484848;
      background-image: none;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      outline: 0; }
    nav a.reveal-contents span {
      background: url("../images/toc-icon.png") no-repeat center center;
      display: block;
      height: 36px;
      text-indent: -9999px;
      width: 40px; }
  nav h1 {
    color: white;
    float: left;
    line-height: 60px; }

section.toc-no-js {
  border-bottom: 1px solid #999999;
  padding-bottom: 13px;
  margin-bottom: 26px; }
  section.toc-no-js a {
    color: #0064cd; }
  section.toc-no-js a:hover {
    color: #003f81; }
  section.toc-no-js ul {
    list-style-type: none;
    margin-left: 0; }
  section.toc-no-js li {
    height: 30px;
    line-height: 30px; }

section.toc-js {
  background: white;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  display: none;
  padding: 16px 60px 10px 20px;
  position: absolute;
  top: 65px;
  right: 26px;
  z-index: 500; }
  section.toc-js::after {
    content: "";
    background: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: block;
    height: 16px;
    right: 16px;
    position: absolute;
    top: -9px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    width: 16px; }
  section.toc-js a {
    color: #0064cd; }
  section.toc-js a:hover {
    color: #003f81; }
  section.toc-js ul {
    list-style-type: none;
    margin-left: 0; }
  section.toc-js li {
    height: 48px;
    line-height: 48px; }

div.container {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  height: 750px;
  margin: 60px 20px 20px 20px;
  overflow-y: scroll;
  padding: 20px;
  position: relative; }
  div.container::-webkit-scrollbar {
    visibility: hidden; }
